@import "tailwindcss";

@layer base{
  html {
  scroll-behavior: smooth;
  scrollbar-width: thin;
  scrollbar-color: #4b5563 #24303f;
  scrollbar-track-color: #1f2937;
  font-family: Inter
}

body{
  @apply bg-zinc-900 text-zinc-50 
}
}

@layer utilities{
.material-symbols-rounded{
  @apply w-[1em] h-[1em] overflow-hidden ;
  font-variation-settings: 'FILL' 0, 'wght' 400, 'GRAD' 0, 'opsz' 24;
}

.container{
  @apply px-4 mx-auto lg:px-8 xl:max-w-6xl
}

.img-box{
  @apply bg-zinc-700 overflow-hidden 
}

.img-cover{
  @apply w-full h-full object-cover
}
    }

@layer typography{
   .headline-1{
  @apply text-5xl font-bold leading-tight
}
}



@layer components{

   .menu-btn {
   @apply w-10 h-10 grid place-items-center bg-zinc-50/10 rounded-xl ring-inset ring-1 ring-zinc-50/[0.02] backdrop-blur-2xl hover:bg-zinc-50/20 transition-[transform,background-color] active:scale-95;
  }

  .navbar{
    @apply absolute top-full right-0 mt-2 min-w-40 px-2 bg-zinc-50/10 rounded-2xl ring-inset ring-1 ring-zinc-50/5 scale-90 isolate blur-sm opacity-0 invisible transition-[opacity,transform,filter] duration-300 md:static md:flex md:items-center md:mt-0 md:scale-100 md:opacity-100 md:visible md:bg-transparent md:backdrop-blur-2xl md:blur-[0] md:backdrop-saturate-150 md:backdrop-brightness-110 
  }

  .navbar.active{
    @apply opacity-100 scale-100 blur-[0] visible 
  }

  .nav-link{
@apply grid items-center h-9  px-4 text-sm font-medium tracking-wide text-zinc-50/50 rounded-lg  hover:text-zinc-50  transition-colors;
  }

  .nav-link.active{
    @apply text-zinc-900 duration-500
  }

  .navbar .active-box{
    @apply absolute  h-8 bg-zinc-50 rounded-lg  -z-10 transition-[top,teft] duration-300 md:transform-none md:top-0 md:left-0 md:w-full md:h-full md:rounded-2xl md:backdrop-blur-2xl
  }

  /* button */
  .btn{
    @apply max-w-max h-9 flex items-center gap-2 px-4 rounded-xl font-medium text-sm ring-1 ring-zinc-50/5 ring-inset transition-[background-color] 
  }

  .btn-secondary{
    @apply bg-zinc-50 text-zinc-900/80 hover:bg-amber-500 hover:font-bold active:bg-zinc-50/80
  }


}
/**
  *BASE STYLES
  * These styles are applied to the entire application.

  */

